<!DOCTYPE html>
<html>
<head>
<title>${project_name}</title>
</head>
<body>
<h1>${project_name}</h1>
<p>${project_description}</p>
<hr/>
<p>Open content:</p>
<li><a href="/session1" >/session1</a></li>
<li><a href="/session2" >/session2</a></li>
<li><a href="/session-off" >/session-off</a></li>
<li><a href="/login.html" >/login.html</a></li>
<hr/>
<p>Closed content:</p>
<li><a href="/closed-content" >/closed-content</a></li>
<li><a href="/closed-content/" >/closed-content/</a></li>
<li><a href="/closed-content/index.html" >/closed-content/index.html</a></li>
</body>
</html>
