<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8" />
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
        <title>${project_name}</title>
    </head>
    <body>
        <h1>${project_name}</h1>
        <p>${project_description}</p>
        <hr/>
        <p>Open content:</p>
        <li><a href="/logout" >/logout</a></li>
        <li><a href="/login.html" >/login.html</a></li>
        <hr/>
        <p>secret content:</p>
        <li><a href="/secret" >/secret</a></li>
        <li><a href="/secret/" >/secret/</a></li>
        <li><a href="/secret/index.html" >/secret/index.html</a></li>
        <li><a href="/secret/not-for-user1.html" >/secret/not-for-user1.html</a></li>
        <li><a href="/secret/other-paths" >/secret/other-paths</a></li>
    </body>
</html>
